/*--DEVELOPER:Zunair Ahmed, IS117-005, Fall 2019 */

body {
    margin: 0;
    padding: 0;
    font-family:  Sans-serif, monospace;
    box-sizing: border-box;
    background-color: black;


}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/*-------------------------------------------HEADER AND MAIN PAGE-----------------------------------------------------*/
.header {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
}
.header h1 {
    display: block;
    float: left;
    font-size: 1.05em;
    padding: 20px 50px;
    text-transform: uppercase;
    color: #ee6d52;
    font-weight: normal;
}
.header h2 {
    display: block;
    float: left;
    font-size: 1em;
    padding: 20px 20px;
    text-transform: uppercase;
    color: #ee6d52;
    font-weight: normal;

}
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    padding-right: .5in;
}
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: black;
}
.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.main {
    background-image: url("3.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text1 h1 {
    font-size: 2vw;
    font-weight: lighter;
    margin-right: 1in;
    margin-left: 1in;
    color: white;
    text-align: center;
}
.text2 h2 {
    text-transform: uppercase;
    font-size: 5vw;
    background: -webkit-linear-gradient(#ee6d52, #ee6d52);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    bottom: 30px;
    right: 50px;
}

.text3 h3 {
    font-size: 2vw;
    font-weight: lighter;
    color: white;
    text-align: center;
    margin-right: 1in;
    margin-left: 1in;
}
@media (min-width: 24em) {
    .header h2{ display: none;}
    .header li { float: left;}
    .header li a { padding: 20px 30px;}
    .header .menu {clear: none; float: right; max-height: none; padding-right: .15in;}
}
@media screen and (max-width: 700px) {
    .header h1 { display: none; font-size: 5vw}
    .header h2 { display: block; color: #ee6d52; font-size: 15px}
    .header h3 {font-size: 5vw;}
    .header li a { font-size: 15px; padding: 20px 20px;}
}
/*-------------------------------------------------------------------*/
.intro h1 {
    font-weight: normal;
    background-color: black;
    color: #ee6d52;
    padding: .5in 1in;
    font-size: 30px;
}
.intro p {
    font-weight: normal;
    background-color: black;
    color: white;
    padding-left: 1in;
    padding-right: 1in;
    font-size: 20px;
    padding-bottom: .25in;
}


.drawing {
    width: 100%;
}
.design p {
    font-weight: normal;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: .25in 1in;
}


@media screen and (max-width: 999px) {
    .intro h1 {text-align: center; margin: auto; padding-left: .5in; padding-right: .5in;}
    .intro p {text-align: center; margin: auto; padding-left: .5in; padding-right: .5in}
    .design p {text-align: center; margin: auto; padding-left: .5in; padding-right: .5in}
    .specs p {text-align: center; margin: auto; padding-left: .5in; padding-right: .5in}
    .specs h1 {text-align: center; margin: auto; padding-left: .5in; padding-right: .5in}
    .conclusion h1 {text-align: center; margin: auto; padding-left: .25in; padding-right: .25in}
    .conclusion h2 {text-align: center; margin: auto; padding-left: .25in; padding-right: .25in}
    .conclusion p {text-align: center; margin: auto; padding-left: .25in; padding-right: .25in}
    .design2 .drawing {margin-top: -2.5in}

}





/* How To Use */
.how-container {
    width: 100%;
    height: 21vw;
    margin-bottom: 30px;
}

.left-container {
    float: left;
    height: 21vw;
    width: 50%;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30vw;
    background: black;
    width: 50%;
    float: left;
    color: white;
}
.right-container h4 {
    color: #ee6d52;
    font-size: 25px;
    padding-bottom: .10in;
}

.left-content {
    width: 100%;
    height: 21vw;
}

.right-content {
    max-width: 70%;
}

.test {
    width: 100%;
}

@media screen and (max-width: 999px) {
    .how-container {display: block; width: 100%; height: auto; text-align: center; margin: 0 auto 60px auto;}
    .left-container  {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto;}
    .right-container {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto;}
    .left-content {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto;}
    .right-content {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto; max-width: 90%;}
}


/* How To Use */
.how-container2 {
    width: 100%;
    height: 21vw;
    margin-bottom: 30px;
}

.left-container2 {
    float: right;
    height: 21vw;
    width: 50%;
}

.right-container2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30vw;
    background: black;
    color: white;
    width: 50%;
    float: right;
}
.right-container2 h4 {
    color: #ee6d52;
    font-size: 25px;
    padding-bottom: .10in;
}

.left-content2 {
    width: 100%;
    height: 21vw;
}

.right-content2 {
    max-width: 70%;
}

.test2 {
    width: 100%;

}


@media screen and (max-width: 999px) {
    .how-container2 {display: block; width: 100%; height: auto; text-align: center; margin: 0 auto 60px auto;}
    .left-container2  {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto;}
    .right-container2 {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto;}
    .left-content2 {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto;}
    .right-content2 {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto; max-width: 90%;}
}

.video {
    outline: none;
}
.specs h1 {
    font-weight: normal;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 3in 1in .25in;
}
@media screen and (max-width: 999px) {
    .specs h1 {padding-top: .15in}
}

.specs p {
    color: white;
    font-weight: normal;
    font-size: 20px;
    padding: .5in 1in .25in;
}




.box-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.single-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    transition: .3s;
    text-align: center;

}

.img-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 6px solid white;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center center/cover;
}

.single-box:nth-child(1) .img-area {
    background: url(speed.png) no-repeat center;
    background-size: cover;
}


.single-box:nth-child(2) .img-area {

    background: url(torque.png) no-repeat center;
    background-size: cover;


}

.single-box:nth-child(3) .img-area {
    background: url(power.png) no-repeat center;
    background-size: cover;
}

.header-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
}

.img-text {
    padding-top: 20px;
}

.img-text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.single-box:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}



.textbox {
    width: 75%;
    margin: auto;
}
.title {
    color: #ee6d52;
    font-size: 35px;
}
.alignleft {
    float: left;
    color: white;
}
.alignright {
    float: right;
    color: white;

}

.textbox2 {
     width: 75%;
     margin: auto;
     padding-top: 1.25in;
 }
.title2 {
    color: #ee6d52;
    font-size: 35px;

}
.alignleft2 {
    float: left;
    color: white;
}
.alignright2 {
    float: right;
    color: white;
}

.textbox3 {
    width: 75%;
    margin: auto;
    padding-top: 1in;
}
.title3 {
    color: #ee6d52;
    font-size: 35px;

}
.alignleft3 {
    float: left;
    color: white;
}
.alignright3 {
    float: right;
    color: white;
}
.textbox4 {
    width: 75%;
    margin: auto;
    padding-top: .75in;
}
.title4 {
    color: #ee6d52;
    font-size: 35px;

}
.alignleft4 {
    float: left;
    color: white;
}
.alignright4 {
    float: right;
    color: white;
}
.textbox5 {
    width: 75%;
    margin: auto;
    padding-top: .6in;
}
.title5 {
    color: #ee6d52;
    font-size: 35px;

}
.alignleft5 {
    float: left;
    color: white;
}
.alignright5 {
    float: right;
    color: white;
}
.conclusion {
    padding-top: 1.5in;
}
.conclusion h1 {
    font-weight: normal;
    background-color: black;
    color: #ee6d52;
    padding-left: 1in;
    padding-right: 1in;
    font-size: 40px;
}
.conclusion h2 {
    font-weight: normal;
    background-color: black;
    color: #ee6d52;
    padding-left: 1in;
    font-size: 30px;
    padding-right: 1in;
}
.conclusion p {
    font-weight: normal;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: .1in 1in .25in;
}
.conclusion img {
    width: 100%;
}
.design2 {
    margin-top: 2.75in;
    margin-bottom: .25in;
}
footer {
    background-color: black;
    border-top: 1px solid black;
    text-align:center;
    padding:20px;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    color: #ee6d52;
}